.grayscale-picker input[type="color"] {
	filter: grayscale(1);
}
.center-element {
	margin : 0 auto;
}

.col-sm-custom {
  width: 12.5%; /* Adjust the percentage as needed */
  float: left; /* Bootstrap uses float for grid layout */
  padding: .5rem 1rem; /* Adjust padding as needed */
}

.col-sm-smol {
  width: 3%; /* Adjust the percentage as needed */
  float: left; /* Bootstrap uses float for grid layout */
}

.opacity-50{
	opacity: 0.5;
}

.toast {

  visibility: hidden;
  min-width: 250px;
  min-height: 50px;
  line-height: 50px;
  margin-left: -125px;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 60px;
  font-size: 17px;
  white-space: nowrap;
}
.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 60px; opacity: 1;}
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 60px; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {bottom: 60px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
  from {bottom: 60px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#spinnerWrapper{
	margin-bottom: 15px;
}

h1{
	margin-bottom: 2.5rem;
}

.col-sm-2{
	width: 13.6%;
}

.col-sm-1{
	min-width: 10.6%;
}

.form-check-input{
	background-color: #ADADAD;
}

.spacer{
	height: 2.5rem;
}

.lil-spacer{
	height: 1rem;
}

.col-form-label{
	padding-top: 0;
	padding-right: 1rem;
}

.form-control-range{
	width: 100%;
	accent-color: #4bbf73;
}

.col-form-label{
	text-align: right;
}

.unit-label{
	text-align: left;
	width: 2.5rem;
}

.label-center{
	padding-top: .75rem;
}

.add-shadow{
	box-shadow: 2px 2px 5px;
	
}

input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #4bbf73;
}

.form-check-input:checked {
    background-color: #4bbf73;
    border-color: #4bbf73;
}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url(img/black-dot.svg);
}

.hover-pointer:hover {
    cursor: pointer;
}